
<main class="bg-success" style="min-height: 100vh">
    <div class="container bg-white mtop">
      <h1>My Form - Jorge Gómez</h1>
          <br>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-md-3">          
            <label for="inputEmail" class="form-label">Email</label>
              <input 
                formControlName="email" 
                type="email"
                [ngClass]="{'is-invalid': emailControlIsInvalid}"
                class="form-control"
                id="inputEmail"
                >
              <div class="invalid-feedback">
                <ng-container *ngIf="emailControl.errors?.['required']">
                  Este campo es Requerido
                </ng-container>
                <ng-container *ngIf="emailControl.errors?.['email']">
                   Debe ingresar un email válido
                </ng-container>
             </div>
           </div>
        <div class="col-md-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input 
            formControlName="password" 
            type="password"
            [ngClass]="{'is-invalid': passwordControlIsInvalid}"
            class="form-control" 
            id="inputPassword"
            >
            <div class="invalid-feedback">
              <ng-container *ngIf="passwordControl.errors?.['required']">
                Este campo es Requerido
              </ng-container>
           </div>

        </div>
        <div class="col-8">
          <label for="inputName" class="form-label">Name</label>
          <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="col-8">
          <label for="inputAddress" class="form-label">Address</label>
          <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input formControlName="city" type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-12">
          <button 
          [disabled]="userForm.invalid"
          type="submit"
          class="btn btn-success">Sign in</button>
        </div>
      </form>
      <div class="col-4">
         {{userForm.value | json }}
      </div>
    </div>
  </main>